@charset "UTF-8";

* {margin: 0; padding: 0;}


li { 
    list-style: none;
    display: inline;

} 

li a {
    text-decoration: none;
    color: #333;
    padding: 0 30px ;
}

a { text-decoration: none;
    color: #333; 
}

/* 반응형 헤더 */

.m_header_wrap {
    display: none;
    }


.fa, .fas {
    /* 반응형 아이콘 */
    position: absolute;
    left: -9999999px;
}

.xi-bars {
    display: none;
}

.xi-search {
    display: none;
}


.clearfix::after {
    content: '';
    clear: both;
    display: block;

}


.top_btn a { 
    width: 60px;
    height: 60px;
    background-color: #d91226;

    border-radius: 50%;
    line-height: 60px;

    color: #fff;
    text-align: center;
    font-weight: bold;

    position: fixed !important;
    right: 3%;
    top: 80%;
    z-index: 99;

}   


header {
    
    width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 99;
    position: fixed;
    background-color: #fff;
   
    }

    
header  div {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    
}
    
   
header nav {
    display: inline-block;
        
    }
    
header > div h1 {
    /* 로고 위치 */
    position: absolute;
        top: 10%;
      
    }
    
header div img {
        /* 로고 크기 */
        width: 42px;
    }
    
    header nav {
        float: right;
        transition: ease-in 0.3s;
     
    }
    
    header nav > ul > li {
        display: inline-block;
        vertical-align: top;
        width: 160px;
        text-align: center;
       
    }

    header .depth01  {
        width: 160px;
        height: 80px;
 
        box-sizing: border-box;
    }

    header .depth01 a:hover {
        color: #d91226;
       
    }

    header .depth02 {
        background-color: #fff;
        display: none;
      
    }
    
    header nav > ul > li:hover .depth02 {
        display: block;
         
    }


/* main_visual */

.main_visual {
    width: 100%;
    padding-top: 50px;
    height: 890px;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 1920px;
    height: 890px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; 
    /* 현재 슬라이드 오른쪽에 위치한 나머지 
    슬라이드 들이 보이지 않도록 가림 */
}

.slider img {
    width: 100%;
}

.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}

ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

.bullets{
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
    /* display: none; */
}


.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}


.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}


.cont01 {
    width: 100%;
    height: 860px;
    /* background: url('/img/할리스-앱.jpg') center center/ cover no-repeat; */
    
    text-align: center;
    position: relative;
    overflow: hidden;
}


.cont01 img {

    width: 100%;
    height: 1064px;
    box-sizing: border-box;
    transition:ease-in 1s 0.2s;
    opacity: 100;
    position: absolute;
    left: 50%;
  
    
    transform: translateX(-50%);
}
.cont01 .box01 {
    /* membership 위치 */
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    /* background-color: #727272; */

}

.cont01 .box01 dl {
    margin-bottom: 40px;
  
}

.cont01 .box01 dl dt {
    color: #d91226;
    font-size: 98px;
    font-weight: bold;
}

.cont01 .box01 dl dd {
    font-size: 35px;
    padding: 40px 0;

}


.cont01 .box01 p {
    /* 혜택 자세히 보기 */
    width: 0;
    text-align: center;
    margin: 0 auto;
    transition: ease-in 0.5s ; 
    position: absolute;
    left:50%;
    transform: translateX(-120px);


}

.cont01 .box01 p a {

    /* 할리스 혜택 더보기 */
    display: block;

    color:#272727;
    font-size: 22px;

    width: 240px;
    height: 62px;
    border:1px solid #272727;
    text-align: center;
    line-height: 62px;
    margin: 0 auto;
    transition:  ease-in 0.2s 0.5s;
    box-sizing: border-box;

}

.cont01 .box01 p:hover  {
    background-color: #272727;
    width: 240px;

}

.cont01 .box01 a:hover {
    color: #fff;
    background-color: #272727;
}



/* cont02 md 상품 */
.cont02 {
    width: 1920px;
    height: 1064px;
    
}

.cont02::after {
    content: '';
    display: block;
    clear: both;
}


.cont02 .box02 {
    float: left;
    width: 45%;
    height: 1000px;
    background-color: #d91226;

    position: relative;
}

.cont02 .box02 h2 {
    /* 평범한 일상에~ */
    color: #fff;
    font-size: 44px;
    padding-left: 120px;
    padding-top: 100px;
    
}

.cont02 .box02 h3 {
    color: #fff;
    font-size: 44px;
    padding-left: 120px;
    margin-top: 30px;

}

.cont02 .box02 p {

    /* 할리스몰 바로가기 */

    /* width: 0; */
    text-align: center;
    margin: 0 auto;
    transition: ease-in 0.6s ; 
   

    /* 버튼 위치 */
  
    /* margin-left: 430px;
    padding-top: 495px; */

    position: absolute;
    bottom: 11%;
    right: 10%;


}

.cont02 .box02 p a {
    /* 할리스몰 바로가기 */

    width: 240px;
    height: 62px;
    line-height: 62px;
    display: block;

    margin: 0 auto;
    box-sizing: border-box;

    color: #272727;
    font-size: 22px;

    border: 1px solid #272727;
    font-weight: bold;
    transition:  0.3s ease-in;
   
    
} 

.cont02 .box02 p a:hover {
    background-color: #272727;
    color: #fff;
}



/* cont03  md  */

.cont02 .cont03 {
    width: 55%;
    display: inline-block;
    height: 1064px;
    position: absolute;
    
    /* overflow: hidden; */

 
    
}

.cont02 .cont03 article {
    /* 할리스 몰 md 칸 */
    float: left;
    background-color: #ffffff;
    width: 50%;
    height: 500px;
    text-align: center;
    display: block;
    
    border: 1px solid #b1b1b1;
    box-sizing: border-box;
   
    position: relative;
    transition: 0.3s ease-in-out;
    
   
}

.cont02 .cont03 article img {

    /* 할리스몰 상품 사진 */
    padding-top: 20px;
    width: 370px;
    height: 370px;
    display: block;
    margin: 0 auto;
    display: block;
   
}

.cont02 .cont03 article p:first-of-type{
    /* md 상품 이름 */

    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 26px;
    
    position: absolute;
    left: 8%;
    transition: 0.3s ease-in-out;
    
}


.cont02 .cont03 article  p a {
    /* md 상품 더보기+ */
    position: absolute;
    bottom: 4%;
    left: 8%;
    transition: 0.3s ease-in-out;

}
.cont02 .cont03 article:hover img {
    opacity: 90%;
    
}
.cont02 .cont03 article:hover {
    background-color:#272727;

}

.cont02 .cont03 article:hover p {
    color: #fff;
   
}

.cont02 .cont03 article a {
    color: rgb(186, 186, 186);
    font-size: 15px;
    
} 

/* cont04 서비스 */

.cont04 {

    background-color: #f7f7f7;
    text-align: center;
    height: 980px;
    position: relative;
    overflow:hidden;
   
    
}

.cont04 p:first-of-type {
    font-size: 50px;
    color: #d91226; ;
    font-weight: bold;
    padding-top: 100px ;
    padding-bottom: 10px;

}

.cont04 p:nth-of-type(2) {
    color: #333;
    font-size: 35px;
}

.cont04 .box03 {

    /* background-color: #d91226; */
    
    margin: 0 auto;
    display: inline-block;
    padding-top: 92px;
    margin-bottom: 70px;
 
  
}



.cont04 .box03 article {
    
    float: left;
    margin: 0 10px;
    position: relative;
    padding-bottom: 92px;

    width: 464px;
    height: 300px;
    overflow:hidden;
    
}

.cont04 .box03 article img {
    transition: 1s;

}

.cont04 .box03 article:hover img {
    opacity: 80%;
    transform:scale(1.2); 
    
}

.cont04 .box03 article:last-of-type {
    margin-right: 0;
}

.cont04 .box03 article dl {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%);
    color: #fff;
   
}
.cont04 .box03 article dl dt {
     /* 스터디좌석/미팅룸/무빙 */
    border-top: 2px solid #fff;
    font-size: 27px;

    padding-bottom: 90px;

}

.cont04 .box03 article dl a {
    display: block;
    color: #fff;
    width: 95px;
    height: 45px;
    border: 1px solid #fff;
    font-weight: bold;

    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    display: block;
    transition: ease-in 0.5s;
    
}

.cont04 .box03 article dl a:hover {

    background-color: #272727;
    color: #fff;
    border: 1px solid #272727;

}

.cont04 .map {
    margin-top: 40px;
}

.cont04 .map p {
    /* 매장찾기 */

    width: 240px;
    height: 62px;
    text-align: center;
    margin: 0 auto;
    transition: ease-in 0.5s ;
    
}


.cont04 .box03 .map p a {
    
    display: block;
    font-size: 22px;
    width: 240px;
    height: 62px;
    margin: 0 auto;
    color: #272727;

   
    line-height: 62px;

    text-align: center;
    font-weight: lighter;
    
    box-sizing: border-box;

}

.cont04 .box03 .map h4:hover a {
    border: 1px solid #272727;

}

.cont04 .box03 .map h4:hover {
    width: 240px;
    background-color: #272727;

}

.cont04 p a {

    /* 매장찾기  */
    color:#272727;
    font-weight:bold;
    text-align: center;
    display: block;
    margin: 20px auto;
   
    
    width: 240px;
    height: 62px;
    border: 1px solid #272727;
    line-height: 61px;

    font-size: 22px; 
    transition: 0.5s;
}

.cont04  p a:hover {
    /* 매장찾기 hover */
    background-color: #272727;
    color: #fff;

}

/* cont05 할리스 뉴스 */


.cont05 {
   
    text-align: center;
    width: 100%;
    height: 640px;
    margin: 0 auto;
    
}

.cont05::after {
    content: '';
    display: block;
    clear: both;
}

.cont05 p:first-of-type {
    /* text-align: center; */
    font-size: 40px;

    font-weight: bold;
    margin-top: 60px ;
    padding-bottom: 10px;
    color: #d91226;
 

}

.cont05 p:nth-of-type(2) {
    color: 272727;
    font-size: 35px;
    text-align: center;

}

.cont05 .cont05_wrap {
    width: 1000px;

 
    margin: 0 auto;
    text-align: center;
    /* background-color: #292929; */
}

.cont05 .box04 {
    /* 이미지박스 */
   
    padding-top: 67px;
    float: left;
    width: 60%;
    
    
}

.cont05 .box04 img {
    /* 배너 이미지*/
    width: 90%;

  
}

.cont05 .box04::after {
    content: '';
    display: block;
    clear: both;
}


.cont05 .box04_2 {

    width: 35%;

    padding-left: 5%;
    float: left;
    text-align: left;
    margin: 0 auto;
 
}

.cont05 .box04_2 h5 {
    /* hollys_news 영어 */
    color: 272727;
    font-size: 44px;
    text-align: center; 

    margin-bottom: 15px;
    margin-left:30px;
    
}

.cont05 .box04_2 .news {
    width: 35%;
    
    white-space: nowrap;
    display: block;
    position: relative;
  
} 

.cont05 .box04_2 .news dl {
    /* 뉴스박스 */
    box-sizing: border-box;
    
    width: 300px;
    height: 95px;
    margin: 0 auto;
    border-bottom: 1px solid #272727;
   
    float: left;
    
    transition: 1s;

}

.cont05 .box04_2 .news dl:last-of-type {
    border-bottom: none;
}

.cont05 .news dl:hover {
    background-color: #272727;
    color: #fff;
}


.cont05  .box04_2 .news dl dt {

    /* 뉴스 제목 */
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 5px;

    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
}

.cont05 .box04_2 .news dl dd {
    /* 뉴스 날짜 */
    color:rgb(142, 142, 142); ;
}


/* 푸터 */

footer {
    height: 320px;
    text-align: center;
    padding-top: 50px;

    background: #292929;
   
}

footer article {
    padding-bottom: 50px;
    
}

footer article img {
    margin: 0 15px;
}


footer p {
    color: #727272;

}

footer p:nth-of-type(1) {
    
    padding-bottom: 36px;
}

footer p:nth-of-type(2) {
    
margin-bottom: 14px;
}

footer p:last-of-type {
    padding-top: 14px;
    color: rgb(67, 67, 67);
}


/* @@@ 뷰포트 @@@ */
/* media 반응형 */


    @media screen and (max-width:1920px) {
        .cont01 img {

            width: 952px;
            height: 1064px;
            box-sizing: border-box;
            transition:ease-in 1s 0.2s;
            opacity: 100;
            position: absolute;
            left: 50%;
            top: 100%;
            
            transform: translate(-50%);
        
        }
        
        .cont01:hover img {
            opacity: 100;
            position: absolute;
            top: 1%;

        }
    }


    @media screen and (max-width:1024px) {

            /* 햄버거 메뉴 */
            .xi-bars {
                display: block;
                font-size: 40px;
                z-index: 999;
            }
    
    
            .xi-close {
                display: block;
                font-size: 38px;
              
            }
    
    
            .m_header_wrap {
                display: block;
                width: 100%;
                position: relative;
                z-index: 999;
     
            }
    
            .m_header_wrap .xi-bars {
                /* 햄버거 */
                position: fixed;
                top: 1.8%;
                right: 4%;
                /* z-index: 9999; */
                color:#333;
             
            }
    
            .m_header_wrap .xi-close {
                /* x */
                position: fixed;
                top: 2.5%;
                right: 4%;
                z-index: 9999;
                
                display: none;
                color:rgb(139, 139, 139);
             
            }
    
            .m_header_wrap .sidebar_menu {
                width: 70%;
                height: 100%;
              
                position: fixed;
                top: 0;
                right: 0;
                z-index: 999;
    
                right: -70%;
                transition: 0.4s ease-in-out;
                /* 메뉴 슬라이드 */
                overflow-y: auto;
                background-color: rgb(43, 43, 43);
                   
            }
    
            .m_header_wrap .sidebar_menu.on {
                right: 0;
            }
    
            .m_header_wrap .menu_wrap {
                margin-top: 70px;
               
            }

         
            .m_header_wrap .menu_wrap li a {
                color:#fff;
                margin-left: 25px;
                font-size: 15px;
                line-height: 30px;
    
                font-family: 'S-CoreDream-3Light';
             
            }
           
    
            .m_header_wrap .menu_wrap .depth01 > a {
                /* 큰 메뉴 depth01 */
                font-size: 24px;
                font-weight: bold;
                color: #d91226;;
           
              
               
            }
    
    
            .m_header_wrap .depth02 {
                display: block;
                margin-bottom: 30px;
               
        
            }

            .m_header_wrap .depth02 a {
                /* depth02 y 정렬 */
                display: block;
            }
    
    
        header { position: relative;
            position: fixed;}
        header nav {display: none;}
    
        header div {
            /* 헤더 양쪽 ㅇㅕ백 */
            width: calc(100% - 80px); 
          
        }

        header div h1  {
            /* 로고 이미지 */
            width: 40px;
            
        }

        header div i:last-of-type {
            font-size: 40px;
            color: #272727;
      
        }

        .top_btn  { 
            /* top 버튼 가리기 */
            display:none;
        }

        .main_visual {
            background-color: #333;
      
            width: 100%;
            height: 700px;
            
          
        }

        .slider {
            /*  */
            margin: 0 auto;
            width: 100%;
            height: 700px;
            background-color: #fff;
      
           
        }

        .slider li img {
            transform: scale(1.5);
            padding-top: 40px;
      
        }


        .bullets {
            /* 이미지 슬라이드 버튼  */
           text-align: center;
           margin-bottom: 10px;
           display: none;
    
        }

        /* 멤버십 어플란 */
        .cont01 {
            position: relative;
            
    
        }
        
        .cont01 img {
            /* 어플 사진 */
            display: block;
        
            width: 70%;
            height: 100%;
            margin-top: 30px;
            position: absolute;
            top: 0;
           
        
        }

        .cont01 .box01 {
            /* background-color: #333; */
            height: 600px;
            position: absolute;
            top: 45%;
        }

        .cont01 .box01 dl {
            /* background-color: #d91226 ;
            */

            text-align: center;
        }

        .cont01 .box01 dl dt {
            /* 멤버십 영어 */
            font-size: 60px;
            padding-top: 60px;
        }

        .cont01 .box01 dl dd {
            /* 더욱 새로워진 할리스 멤버십으로~ */
            font-size: 25px;
            line-height: 35px;
            width: 600px;

        }
        .cont01 .box01 p {
            margin: 0 auto;
            width: 180px;
            text-align: center;
            position: inherit;
       
        }


        .cont01 .box01 p a {
            /* 혜택 자세히 보기 */
            background-color: #272727;
            color: #fff;
            font-size: 20px;
            height: 55px;
            line-height: 55px;
            width: 180px;    
           
       
            
        }

        /* md */
        
        .cont02 {
            width: 1024px;
         
        }
        .cont02 .box02 {

            /* md 빨간박스 */
            width: 100%;
            height: 370px;
            margin: 0 auto;
           
            }

        .cont02 .box02 h2 {
            /* 평범한 일상을 조금 더~ */
            font-size: 45px;
            padding-top: 40px;
        }

        .cont02 .box02 h3 {
            /* 나의 일상에 할리스가~ */
            width: 410px;
            /* background-color: #333; */
            font-size: 45px;
            margin-top: 20px;

        }

        .cont02 .box02 p {
            /* 할리스 몰 바로가기 */
            padding-top: 0px;
            

        }

        .cont02 .box02 p a {
            /* 할리스몰 바로가기 */
            background-color: #272727;
            width: 240px;
            color: #fff;
            font-size: 25px;
            height: 80px;
            line-height: 80px;
  
            font-weight: normal;
            
            
        }

        .cont02 .cont03 {
            width: 100%;
            height: 1001px;
            float: left;
            display: block;
            padding-top: 370px;
            
        
        }

        .cont02 .cont03 article {
            /* md 상품 묶음 */
            height: 460px;
        }

        .cont02 .cont03 article p:first-of-type {
            /* 할리스 md 상품 이름 */
            width: 280px;
        
            font-size: 20px;
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            
        }

        .cont02 .cont03 article:nth-of-type(3) p:first-of-type {
            /* 마이 홈카페 에디션(스카이블루) */
            position: absolute;
            bottom: 3%;
        }

        .cont02 .cont03 article p a {
            /* 더보기 */
            display: none;
        }

        /* .cont04 */
        
        .cont04 {
            margin-top: 920px;
            }

        .cont04 p:first-child {
            /* delight to meet you */
            font-size: 60px;
            margin: 0 auto;
            padding-bottom: 15px;

        }

        .cont04 p:nth-child(2) {
            font-size: 25px ;
        }


        .cont04   {
            width: 100%;
            position: relative;
        }

        .cont04 .box03 {

            padding-top: 70px;
            margin: 0 auto;
           width: 100%;
            display:flex;
            text-align: center;
           
            justify-content: space-between;
    
        }

        .cont04 .box03 article {
            /* 스터디좌석/미팅룸/무빙 크기 */
            width: 31%;
            margin:0
        }


        .cont04 .box03 article dl dt {
            /* 스터디좌석/미팅룸/무빙 */
            width: 150px;
            font-size: 27px;
            padding-top: 8px;
            
        }

        

        .cont04 .box03 article dl  a {
            /* 더보기 */
            width: 140px;
            font-size: 20px;
            font-weight: normal;
        
        }

        .cont04 p a {
            /* 매장찾기 */
            
        
            margin: 50px auto;
            background-color: #272727;
            color: #fff;
            font-weight: normal;
            display: block;

        }

    
        /* news & notice */

        .cont05 {
            width: 100%;
            position: relative;
            height: 310px;
        }

        .cont05 .cont05_wrap {
            width: 100%;
        
        }

        .cont05 p:first-of-type {
            /* news notice 영어 */
         
            padding-bottom: 15px;
            margin-top: 70px;
        }
        
        .cont05 .box04 {
            display: none;
        }

        .cont05 .box04 img {
            /* 할리스 배너 사진 */
           display: none;
       
        }

        .cont05 .box04 .box05 {
             /* 뉴스글 숨기기 */
           
             height: 0;
             float: none;
         
        }

        .cont05 .box04_2 {

            float: none;
            padding-left: 0;
            padding-top: 0;
            clear: both;
            width: 100%;
        }

        .cont05 .box04_2 .news {
            width: 35%;
            white-space: nowrap;
            display: block;
            position: relative;
            margin: 0 auto;
        }

        .cont05 .box04_2 .news dl {
            /* 뉴스글 숨기기 */
          display: none;
         

        } .cont05 .box04_2 .news p a {
            
            display: block;
            
            color: #fff;
            font-size: 22px;
            font-weight: normal;
            text-align: center;

            margin: 0 auto;
            width: 230px;
            height: 62px;
            line-height: 62px;
            /* padding:20px 0; */

            background-color: #272727;
       
        }

       

       
    } /* 뷰포트 end */

    

    @media screen and (max-width:860px) {

    
        header { position: relative;}
        header nav {display: none;}
        .fa, .fas  {
             /* 아이콘 */
             display: block;
             position: absolute;
             right: 3%;
             top: 50%;
             transform: translateY(-50%);

        }

        .main_visual {
            background-color: #333;
            padding-top: 0;
            width: 100%;
            height: 600px;
            background-color: #727272;
          
        }

        .bullets {

            /* 이미지 슬라이드 버튼  */
         display: none;
           text-align: center;
           margin-bottom: 100px;
    
        }

        .cont01 {
            height: 600px;
        }
        
        .cont01 .box01 dl dt {
            padding-top: 0;
        }

        .cont01 .box01 dl {
            margin-bottom: 0;
        }


        .cont02 .box02 p {
            bottom: 27%;
            
        }

        .cont04 {
            height: 850px;
        }
        .cont04 p:first-child {
            font-size: 50px;
            padding-top: 60px;
            padding-bottom: 0;
        }

        .cont04 p a {
            margin: 19px auto;
        }

        .cont04 .box03 {
            padding-top: 0;
            margin-bottom:40px;
            
        }
       
        .cont04 .box03 {
            padding-top: 50px;
        }


        .cont05 {
            height: 300px;
        }

        .cont05 p:first-of-type {
            /* news & notice */
            font-size: 50px;
        }

        .cont04 .box03 article {
                width:32%;
        }

    } /* 860 end */



    @media screen and (max-width:500px) {

        header {
            background-color: #fff;
            position: fixed;
            border-bottom: 1px solid #333;
            height: 50px;
            line-height: 50px;
        }

        header div img {
            width: 30px;
      
        }

        header div h1 { 
            left: 3%;
        }

        .main_visual {
            height: 390px;
        }
        .slider {
            height: 420px;
        }

        .m_header_wrap .xi-bars {
            line-height: 25px;
            font-size: 30px;
        }

        .m_header_wrap .xi-bars {
            right: 3%;
        }


        .slider {
            width: 510px;
        }
        .slider li img {
            padding-top: 80px;
        }

      
        .cont01 {
            width: 100%;
            height: 580px;
        }

        .cont01 img {
            /* 앱이미지 */
            width: 90%;
            height: auto;
         
         

        }

        .cont01 .box01  {
            top: 35%;
            text-align: center;
    

        }

        
        .cont01 .box01 dl dt {
            /* 멤버십 */

            font-size: 40px;
        }

        .cont01 .box01 dl dd {
            /* 더욱새로워진 */

            font-size: 18px;
            line-height: 25px;
            padding:20px 0 ;

        }


        .cont01 .box01 p  {
            /* 혜택 더보기 버튼 */  
            /* width: 100%; */
            margin: 0 auto;

   
        }

        .cont01 .box01 p a {

            font-size: 18px;
            line-height: 50px;
            height: 50px;
            width: 100%;
   
        }

        .cont02 .box02 {
            /* 박스 여백 */
            margin-top: -170px;
            height: 180px;
        }

        .cont02 .box02 h2 {
            /* 평범한 일상을 */
            font-size: 24px;
            padding-left: 44px;
            padding-top: 24px;

        }

        .cont02 .box02 h3 {
            /* 나의 일상에 */
            font-size: 24px;
            padding-left: 44px;
            margin-top: 12px;
        }

        .cont02 .box02 p {
                /* 할리스몰 버튼 위치 */
            bottom: 18%;
            right: 6%;
        }

        .cont02 .box02 p a {
            /* 할리스몰 버튼 */

            width: 180px;
            font-size: 18px;
            height: 50px;
            line-height: 50px;
    
     
        }

        .cont02 .cont03 {
            padding-top: 10px;
            height: 400px;
 
            overflow-x: scroll;
            overflow-Y: hidden;
        }

        .cont03 .cont03_w {
            width: 1600px;
        
            display: flex;
            overflow: hidden;
            background-color: #333;

        }

        .cont03 .cont03_w article {
            width: 400px;
            height: 370px;
            
            
        }

        .cont03 .cont03_w article img {
            padding-top: 0;
      
            width: 400px;
            height: 380px;
        }

        .cont02 .cont03 article p {
            display: none;
        }

        .cont04 {
            margin-top: 370px;
            height: 600px;
        }
       


        .cont04 p:first-child {
            /* 딜라이트 밋유 */
            font-size: 55px;
            width: 350px;
            line-height: 60px;
            padding-top: 35px;
        }

        .cont04 p:nth-child(2) {
            /* 더 많은 분들의 */

            padding-top: 10px;
            font-size: 15px;
             /* width: 234px; */
            margin: 0 auto;
        }


        .cont04 .box03 {
            padding-top: 20px;
        }
        .cont04 .box03 article {
            height: 150px;
        }

        .cont04 .box03 article dl dt {
            border-top: none;
            font-size: 20px;
            padding:0;
            padding-top: 10px;
        }

        .cont04 .box03 article dl a {
            display: none;
        }

        .cont04 .map {
            margin-top: -20px;
        }
        .cont04 .map img {
            /* 맵 아이콘 */
            width: 25px;
        }

        .cont04 p a {
            /* 매장찾기 */
            font-size: 18px;
            width: 160px;
            height: 50px;
            line-height: 50px;
        }


        .cont05 {
            height: 180px;
        }
        .cont05 p:first-of-type {
            /* 뉴스 & 공지 */
            margin-top: 28px;
            padding-bottom: 3px;
        }

        .cont05 p:nth-of-type(2) {
            /* 할리스의 새로운 소식과 */
            font-size: 15px;
        }

        .cont05 .box04_2 .news p a {
            width: 180px;
            height: 50px;
            font-size: 18px;
            line-height: 50px;
        }


        footer {
            padding-top: 10px;
        }


        footer article {
            padding: 15px 0;
            margin-bottom: 20px;
        }

        footer article img {
            margin: 0 8px;
        }

        footer p:nth-of-type(1) {
            font-size: 12px;
            width: 300px;
            line-height: 18px;
   
            margin: 0 auto;
            padding-bottom:10px
        }

        footer p:nth-of-type(2) {
            width: 350px;
               
            margin: 0 auto;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 15px;
        }

        footer p {
            font-size: 13px;
            line-height: 18px;
            width: 300px;
            margin: 0 auto;

        }



    } /*500 end */






    @media screen and (max-width:320px) {
        header {
            width: 100%;
            height: 50px;
            line-height: 50px;
            position: fixed;
        }

        .m_header_wrap .xi-bars
        {
            font-size: 30px;
            right: 8%;
        }

        header div img {
            width: 30px;
        }

       

        .main_visual {
            height: 260px;
        }

        .slider {
            height: 400px;
        }

        .slider li img {
            width: 100%;
            padding-top: 65px;
        }

        .slider {
            display: none;

        
        }

        .cont01 {
            height: 310px;
            
        }



        .cont01 .box01 {
            top: 55%;
        }

        .cont01 .box01 dl dt {
            /* 할리스 멤버쉽 membership */
            font-size: 30px;
        }


        .cont01 img {
            /* 모바일 이미지 */
            width: 85%;
            height: 85%;
            margin-top: 30px;
        }


        .cont01 .box01 {
            text-align: center;
            margin: 0 auto;
            height: 0;
        }

      

        .cont01 .box01 dl dd {
            /* 더욱 새로워진 할리스 */
            
            width: 140px;
            line-height: 23px;

            font-size: 15px;
            padding: 20px 0;
            margin: 0 auto;
            display: none;
      
            
        }  

        .cont01 .box01 p {
            /* 혜택 */
            width: 100%;
            text-align: center;
            margin: 0 auto;
            left: 50%;
            position: absolute;
            left: 0;
            transform:none
         
   
        }

        .cont01 .box01 p a {
            /* 혜택버튼 */
            width: 150px;
            font-size: 18px;

            text-align: center;

            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            margin-left: 18px;

     
        }

        .cont02 {
            width: 100%;
      
        }

        .cont02 .box02 {
            height: 210px;
            margin-top: -18px;
        }

       
        .cont02 .box02 h2 {
            /* 엠디 평범한 일상을 */

            font-size: 20px;
            padding-left: 30px;
            padding-top: 25px;
        }

        .cont02 .box02 h3 {
            /* 나의 일상에 */
            width: 200px;
            font-size: 20px;
            padding-left: 30px;
        }

        .cont02 .cont03 {
            /* 붉은박스 */
            width: 100%;
            padding-top: 220px; /* 물건박스높이 */
            overflow-x: scroll;

        }

        .cont02 .cont03 .cont03_w {

            width: 1100px;
            height: 250px;

            display: flex;
   
           
        }

        .cont02 .box02 p a {
            /* 할리스몰 바로가기 버튼 */

            width: 170px;
            height: 40px;
            line-height: 40px;
           
        }

        .cont02 .box02 p {
            bottom: 8%;
        }

        .cont02 .cont03 {
            /* background-color: #d91226; */
            height: 300px;
            padding-top: 190px;
        }

        .cont02 .cont03 article {
            width: 280px;
            height: 280px;
            margin-top: -30px;
    
        
        }


        .cont02 .cont03 article img {
            /* 엠디사진 */
            padding-top: 0;
            width: 280px;
            height: 280px;
        }

        .cont02 .cont03 article p {
            display: none;
        }



        .cont04 {
           margin-top: 245px;
           height: 550px;
        }


        .cont04 p:first-child {
            /* 딜라이트 밋유 */
            width: 200px;
            font-size: 30px;
        }

        .cont04 p:first-child {
            padding-top: 30px;
            line-height: 30px;
        }

        .cont04 p:nth-child(2) {
            /* 더 많은 분들의 일상속에서 */
            margin: 0 auto;
       
            margin-top: 10px;
            width: 187px;
            font-size: 16px;
        }


        .cont04 .box03 {
            padding-top: 30px;
            margin-bottom: 30px;
            overflow: hidden;
        }


        .cont04 .box03 article {
            /* 무빙딜라이트 박스 */

            height: 120px;
        }

        .cont04 .box03 article dl {
            top: 20%;
          
        }

        .cont04 .box03 article dl dt {
            /* 스터디좌석 미팅룸안내 무빙딜라이트 */
            font-size: 20px;
            margin: 0 auto;
            border-top: none;

            width: 25px;

        }

        .cont04 .box03 article dl a {
            /* 더보기 버튼 */
            width: 70px;
            height: 30px;
            line-height: 32px;
            font-size: 15px;
            display: none;
        }

        .cont04 .map {
            margin-top: -6px;
        }

        .cont04 .map img {
            width: 25px;
        }


        .cont04 p a {
            /* 매장찾기 */

            font-size: 16px;
            width: 140px;
            height: 40px;
            line-height: 40px;
        }

        .cont05 {
            height: 170px;
        }

        .cont05 p:first-of-type {
            /* news & notice */

            font-size: 30px;
            margin-top: 20px;
        }

    

        .cont05 p:nth-of-type(2) {
            /* 할리스의 새로운 소식 */

            width: 162px;
            margin: 0 auto;
            font-size: 16px;
        }


        .cont05 .box04_2 .news {
            width: 100%;
        }

        .cont05 .box04_2 .news p a {
       
            font-size: 16px;
            width: 150px;
            height: 40px;
            line-height: 40px;
        }



        footer {
            width: 100%;
            height: 310px;
            padding-top: 20px;
        }


        footer article {
            margin-bottom: 0;
        }
   
        footer article img {
            /* sns 이미지 */
            width: 40px;
            margin: 0 7px;
        }

        footer p {
            font-size: 11px;
            width: 250px;

            margin: 0 auto;
        }

        footer p:nth-of-type(1) {
            width: 260px;
             padding-bottom: 20px;
        }

        footer p:nth-of-type(2) {
           width: 300px;
        }





    }  /* 320 end */